<%- include('partials/header') %>
  <main>

    <div class="card-deck">

      <div class="card">
        <img class="card-img-top" src="Images/FORTIS.webp" height="60%" width="100%" />
        <h1> Fortis Hospital Shalimar Bagh Delhi</h1>
        <p class="card-text">
          ADDRESS :- AA-299, Shaheed Udham Singh Marg, AA Block, Poorbi Shalimar Bag, Shalimar Bagh, Delhi, 110088
        </p>
        <a class="btn btn-info" href="https://www.fortishealthcare.com/india/fortis-hospital-in-shalimar-bagh-delhi">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>

      <div class="card">
        <img class="card-img-top"
          src="Images/kasturba-hospital-blood-bank--habibganj-bhopal-blood-banks-bts7ntco50.webp" height="60%"
          width="100%" />
        <h1> Kasturba Hospital Blood Bank </h1>
        <p>
          Address: Metro Station, Kasturba Hospital Marg, Kalan Mahal, Daryaganj, New Delhi, Delhi 110002 </p>
        </p>
        <a class="btn btn-info"
          href="https://www.medindia.net/directories/blood-bank-services/kasturba-hospital-blood-bank-new-delhi-3517.htm">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>

      <div class="card">
        <img class="card-img-top" src="Images/ganga-ram-hosp-7.jpg" height="60%" width="100%" />
        <h1> Sir Ganga Ram Hospital </h1>
        <p>
          Address: Sir Ganga Ram Hospital Marg, Old Rajinder Nagar, New Rajinder Nagar, New Delhi, Delhi 110060
        </p>
        <a class="btn btn-info" href="https://sgrh.com">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>
    </div>

    <div class="card-deck">

      <div class="card">
        <img class="card-img-top"
          src="Images/Max-Hospital-Saket-organises-multi-specialty-awareness-session-in-Agra.jpg" height="60%" width="100%" />
        <h1> Max Superspecialty Hospital Blood Bank</h1>
        <p>
          ADDRESS:- Max Super Speciality Hospital-4, FC 50, C and D Block, Shalimar Place Site, Shalimar Bagh, Delhi
          110088
        </p>

        <a class="btn btn-info" href="https://www.blkmaxhospital.com/blood-bank-and-donation.php">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>
      <div class="card">
        <img class="card-img-top" src="Images/Parmanand-Special-Surgery-Hosppital.jpg" height="60%" width="100%" />
        <h1> SANT PARMANAND HOSPITAL </h1>
        <p>
          ADDRESS:- 18, Sham Nath Marg, Civil Lines, New Delhi, Delhi 110054
          CONTACT NO :- 011 2399 4401
          <br>
        </p>
        <a class="btn btn-info" href="https://www.sphdelhi.org">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>
      <div class="card">
        <img class="card-img-top" src="Images/HINDU RAO.webp" height="60%" width="100%" />
        <h1> Hindu Rao Hospital </h1>
        <p>
          ADDRESS:- Gandhi Square, Malka Ganj, Delhi, 110007
        </p>
        <br>
        <br>
        <br>
        <a class="btn btn-info" href="http://www.hindurao.com/working-hours.html">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>
    </div>

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="Images/EdrHf2gXsAQbXiS.png" height="60%" width="100%" />
        <h1> St. Stephen's Hospital</h1>
        <p>
          ADDRESS:- St. Stephen's Hospital Marg, Tis Hazari, New Delhi, Delhi 110054
        </p>
        <a class="btn btn-info" href="https://www.ststephenshospital.org">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>
      <div class="card">
        <img class="card-img-top"
          src="Images/brahm-shakti-hospital-and-research-centre-budh-vihar-phase-1-delhi-private-hospitals-1t2io5j.webp"
          height="60%" width="100%" />
        <h1>Brahm Shakti Hospital</h1>
        <p>
          ADDRESS:- 1, 78, Kanjhawala Rd, Pocket C, Budh Vihar Phase I, Budh Vihar, New Delhi, Delhi 110084
        </p>
        <a class="btn btn-info"
          href="https://www.medindia.net/directories/blood-bank-services/brahm-shakti-hospital-and-research-centre-blood-bank-new-delhi-3546.htm">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>

      <div class="card">
        <img class="card-img-top" src="Images/EdrHf2gXsAQbXiS.png" height="60%" width="100%" />
        <h1>Burari Hospital</h1>
        <p> ADDRESS:- Burari Hospital, Burari Rd, Kaushik Enclave, Shankarpura, Burari, Delhi, 110084 </p>
        <a class="btn btn-info" href="https://www.facebook.com/burarihospital/">
          SELECT
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>

    </div>
  </main>

  <%- include('partials/footer') %>