<%- include('partials/header1') %>

<div class="embed-responsive embed-responsive-16by9 contentvideo">
  <video src="abc-bg-video.webm" autoplay loop muted></video>
  <div class="overlay">
    <p>
      India's Blood Centers is the national organization bringing together
      community-based, independent blood centers.
    </p>
    <a class="btn btn-danger" href="#why_donate"
      >Learn More <i class="fa fa-angle-right"></i
    ></a>
  </div>
</div>
<main>
  <div>
    <img class="main_img" src="/Images/firstpageimg.JPG" id="why_donate"/>
  </div>
  <div>
    <h1 class="heading">Universal Donors and Recipients</h1>
    <p>The most common blood type is O, followed by type A.</p>
    <p>
      Type O individuals are often called "universal donors" since their blood
      can be transfused into personswithany blood type. Those with type AB blood
      are called "universal recipients" because they can receivebloodofany type.
    </p>
    <p>
      However, since approximately twice as many people in the general
      population have O and A blood types, abloodbank's need for this type of
      blood increases exponentially.
    </p>
    <h1 class="heading">
      DO donate blood, only if you satisfy all of the following conditions
    </h1>
    <table border="0" cellspacing="0" cellpadding="10">
      <tbody>
        <tr>
          <td>
            <img src="/Images/tick.png" />
          </td>
          <td valign="top">You are between age group of 18-60 years.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/tick.png" />
          </td>
          <td>Your weight is 45 kgs or more.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/tick.png" />
          </td>
          <td>Your hemoglobin is 12.5 gm% minimum.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/tick.png" />
          </td>
          <td valign="top">
            Your last blood donation was 3 or more months earlier.
          </td>
        </tr>
        <tr>
          <td>
            <img src="/Images/tick.png" />
          </td>
          <td>
            You are healthy and have not suffered from malaria, typhoid or other
            transmissibledisease in the recent past.
          </td>
        </tr>
      </tbody>
    </table>
    <h1 class="heading">
      DO NOT donate blood, if you have any of the following conditions
    </h1>
    <table cellspacing="0" cellpadding="10">
      <tbody>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>Cold / fever in the past 1 week.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>Under treatment with antibiotics or any other medication.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>
            Cardiac problems, hypertension, epilepsy, diabetes (on insulin
            therapy), history ofcancer, chronic kidney or liver disease,
            bleeding tendencies, venereal disease etc.
          </td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td valign="top">Major surgery in the last 6 months.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>Vaccination in the last 24 hours.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>
            Had a miscarriage in the last 6 months or have been pregnant /
            lactating in thelastoneyear.
          </td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td valign="top">Had fainting attacks during last donation.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>Have regularly received treatment with blood products.</td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>
            Shared a needle to inject drugs/ have history of drug addiction.
          </td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td valign="top">
            Had sexual relations with different partners or with a high risk
            individual.
          </td>
        </tr>
        <tr>
          <td>
            <img src="/Images/Cross.png" />
          </td>
          <td>Been tested positive for antibodies to HIV.</td>
        </tr>
      </tbody>
    </table>
    <h1 class="heading">Blood Bank</h1>
    <p>
      A blood bank is a place designed especially for the storage of blood and
      blood products. Large coolersholdthese products at a constant temperature
      and they are available at a moment's notice.
    </p>
    <h1 class="heading">About Blood Donation</h1>
    <p>
      Donating blood is a life saving measure especially when you have a rare
      blood type. Blood donation issafeand simple. It takes only about 10
      minutes to donate blood - less than the time of an average
      telephonecall.We can save upto 3 to 4 precious lives by donating blood.
    </p>
    <h1 class="heading">World Blood Donor Day</h1>
    <p>
      The day is celebrated to raise awareness globally about the need for
      regular and voluntary blooddonation.
    </p>

    
  </div>
</main>

<%- include('partials/footer1') %>