<%- include('partials/Loginheader') %>

  <div class="container mt-5 mb-5">
    
    <div>
      <a class="nav-link" href="">
        <button class="col-lg-12 btn btn-outline-dark" onclick="change()">Change Availability</button> 
      </a>
    </div>

    <div class="container my-5">
      <div class="card flex-row-reverse" style="height: 300px">
        <img class="col-lg-6" style="height: 296px" src="Images/banner-hands-default.jpg" />
        <div class="col-lg-6 card-body">
          <h2 class="card-title heading">31,000 pints of blood are used every day</h2>
          <p class="card-text">
            Our nation's blood supply must cover every day needs. Blood must
            also be immediately available on the shelf for unexpected
            emergencies and disasters. It has a short shelf life span, and must
            be constantly replenished year-round to ensure availability whenever
            and wherever it is needed
          </p>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="card flex-row-reverse" style="height: 320px">
        <img class="col-lg-6" style="height: 319px" src="Images/banner-hands-default1.jpg" />
        <div class="col-lg-6 card-body">
          <h2 class="card-title heading">
            Most blood products are used for people being treated for:
          </h2>
          <p class="card-text"></p>
          <ul>
            <li>cancers</li>
            <li>organ and bone marrow transplants</li>
            <li>inherited blood disorders</li>
            <li>orthopedic surgeries</li>
            <li>cardiovascular surgeries</li>
            <li>trauma resuscitation</li>
            <li>transplantation</li>
            <li>haematological diseases</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="heading">Journey of Blood</h1>
        <h6>
          <i>
            A safe and available blood supply requires the support of individuals
            and communities, a robust infrastructure, and highly-trained
            professionals all working towards the same goal saving lives.</i>
        </h6>
        <ul>
          <li>
            <h5>Community and Donor Engagement</h5>
            <p>
              The blood supply is unique within the healthcare system. It cannot
              be manufactured and relies on voluntary donations. Blood centers
              continuously work with community partners and individual donors to
              increase awareness about the need for blood, host blood drives, and,
              ensure a diverse donor base to guarantee the need for various blood
              types and blood products is being met.
            </p>
          </li>
          <li>
            <h5>Donation</h5>
            <p>
              Approximately 7 million blood donors walk through blood center doors
              annually. Highly-trained professionals guide donors through the
              entire blood donation experience, prioritizing their comfort and
              safety. Each donor is asked a series of eligibility questions to
              ensure they are able to donate followed by the actual donation
              experience. Whole blood donations take around 10 minutes, while
              platelets, double red cells or plasma by apheresis can take as
              little as 45 minutes.
            </p>
          </li>
          <li>
            <h5>Testing and Processing</h5>
            <p>
              Blood centers - all of whom are regulated by the Food and Drug
              Administration (in India) - operate sophisticated laboratories that
              process and test every donation, which are typically available for
              patients in need within 24-48 hours after collection. More than 12
              tests are performed to identify the blood type and make sure the
              blood is safe for transfusion. As a result, the blood supply is
              safer today than ever before.
            </p>
          </li>

          <li>
            <h5>Storation</h5>
            <p>
              Storage of blood components is highly controlled under Current Good
              Manufacturing Processes (cGMPs). After processing, red blood cells
              can be stored for up to 42 days, plasma can be frozen and stored for
              up to 12 months, and platelets must be used within 5 days. There
              must always be enough blood, that has been tested and stored, ready
              for use to meet any need, including both man-made and natural
              disasters. Blood centers work with federal agencies and state and
              local public health agencies to prepare for such incidences.
            </p>
          </li>
          <li>
            <h5>Distribution</h5>
            <p>
              Because the need for blood never stops, blood centers operate
              sophisticated information technology systems to constantly monitor
              and respond to their local blood needs. Blood centers operate
              24-hours a day, 7-day a week, 365-days a year to deliver blood
              wherever and whenever it is needed, including in-patient and
              outpatient hospital settings, both traditional and air ambulances,
              long-term care settings. In total, IBC members serve more than 150
              million people and provide blood products and services to more than
              3,500 hospitals and healthcare facilities across India, accounting
              for 60 percent of the blood supply and 25 % of India's.
            </p>
          </li>

          <li>
            <h5>Transfusion</h5>
            <p>
              As a result of the work of donors and blood centers, 11 million
              blood transfusions take place every year for patients suffering from
              a wide variety of conditions. Some of the most frequent uses of
              blood include traumas, surgeries, child birth, anemia, blood
              disorders, and cancer treatments
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('partials/footer')%>